{% block sidebar %}

<style>
  .card {
    box-shadow: 0 16px 48px #02ffd9;
  }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
  <div class="card my-4">
    <h5 class="card-header">About</h5>
    <div class="card-body">
      <p class="card-text"> Welcome to My Blog App—a personal blogging platform built with the Django Web Framework on the backend. This application is designed to be simple yet powerful, providing a seamless experience for both writers and readers. </p>
    </div>
  </div>
</div>

{% endblock sidebar %}